/.idea
*.iml
/target
*.class
.*.swp
education-examples.zenta.bak
education-examples.compiled
education-examples.consistency.stderr
education-examples.consistencycheck
education-examples.docbook
education-examples.html
education-examples.objlist
education-examples.objlist.html
education-examples.pdf
education-examples.pics/
education-examples.rich
education-examples.richescape
education-examples.tabled.docbook
education-examples.tabled.html
/education-examples/
issuesReport.json
/build/
/inputs
javabuild
shippable/
education-examples.interfaces
education-examples.stubs
education-examples.testdata
runapache
